body{
    background-color: rgb(255, 255, 255);
}
header{
    position:fixed;
    top:0px;
    width:100vw;
}
footer{
    position: fixed;
    bottom:0px;
    width:100vw;
    background-color:#33475b;
}
